<!-- Edit Profile Section -->
<div
        class="edit p-9 max-2xl:p-5 w-full h-full rounded-br-3xl max-lg:rounded-bl-3xl max-[450px]:rounded-bl-3xl"
        id="edit"
>
    <h1
            class="text-2xl tracking-widest font-extralight text-accent1 mb-5 max-[450px]:text-center"
    >
        EDIT PROFILE
    </h1>

    <!-- Divider -->
    <div class="w-full h-[1px] border-t border-accent1"></div>

    <!-- Details -->
    <div class="details mt-10 max-2xl:mt-7 w-full">
        <form action="" method="post">
            {% csrf_token %}
            <!-- DISPLAY FIRSTNAME -->
            <div class="flex gap-2 max-md:flex-col">
                {{ form.acc_first_name }}

                <!-- DISPLAY LASTNAME -->
                {{ form.acc_last_name }}
            </div>

            <!-- DISPLAY CONTACT NO. -->
            {{ form.acc_phone }}

            <button
                    type="submit"
                    class="border p-2 w-[200px] max-lg:w-full mt-10 max-2xl:mt-5 bg-accent1 font-bold text-sm tracking-widest text-background rounded-lg border-solid border-1 border-accent1 transition ease-in-out hover:duration-500 hover:bg-transparent hover:text-accent1 hover:font-bold"
            >
                SAVE CHANGES
            </button>
        </form>
    </div>
</div>
<!-- End Edit Profile Section -->