<!-- Water & Pesticide Schedule -->
<div id="schedule_section" class="flex flex-grow hidden flex-wrap">
    <!-- Water Schedule -->
    <div class="flex flex-1 flex-col px-3">
      <!-- Heading -->
      <div class="flex justify-between items-center mt-9">
        <h2
          class="text-accent1 text-xl tracking-wide font-normal pc:ml-3"
        >
          WATER
        </h2>

        <div class="flex flex-grow justify-start ml-3 gap-3">
            <!-- Schedule Button -->
          <button
            data-packageKey="{{ packageKey }}"
            data-plantId="{{ plantId }}"
            id="set_water_schedule"
            class="border p-1 px-3 text-sm tracking-widest text-accent1 rounded-full border-solid border-1 border-accent1 transition ease-in-out duration-500 bg-accent1 text-background font-bold"
            style="width: 100px"
          >
            SET
          </button>
            <!-- Reset Button -->
          <button
            id="water_reset" class="border p-1 px-3 text-sm tracking-widest text-background rounded-full border-solid border-1 border-red transition ease-in-out duration-500 bg-red font-bold"
            style="width: 100px"
          >
            RESET
          </button>
            <button id="turn_on_water_sched" class="text-accent1 uppercase tracking-wide" style="margin-left: auto">Turn on Schedule</button>
        </div>
      </div>
      <!-- Heading -->

      <!-- Set Schedule -->
      <div
        class="set_schedule flex justify-center flex-col flex-1 flex-grow gap-4 items-center">

        <div
          class="cont flex flex-col mt-8 p-4 w-[100%] h-[190px] max-md:h-full justify-center rounded-xl">
          <div
            class="w-full flex gap-5 items-center ml-3 max-sm:ml-0 max-sm:gap-2 max-sm:flex-col max-pc:justify-center">
            <div class="flex gap-5 items-center">
              <input
                title="Hours"
                type="text"
                inputmode="numeric"
                placeholder="00"
                id="hrs_input_water"
                maxlength="2"
                class="p-2 w-[70px] text-accent2 text-center tracking-wider text-lg bg-transparent border border-accent1 rounded-lg"
              />
              <p class="text-accent1 text-xl font-extrabold">:</p>
              <input
                title="Minutes"
                type="text"
                inputmode="numeric"
                placeholder="00"
                id="mins_input_water"
                maxlength="2"
                class="p-2 w-[70px] text-accent2 text-center tracking-wider text-lg bg-transparent border border-accent1 rounded-lg"
              />
            </div>
            <div
              class="flex gap-5 max-sm:justify-center max-sm:mt-2">
              <label
                for="am_input"
                class="flex items-center text-accent1 font-light text-lg gap-2">
                <input
                  type="radio"
                  name="am/pm_water"
                  class="radio checked:bg-accent1"
                  value="am"
                />AM</label>
              <label
                for="pm_input"
                class="flex items-center text-accent1 font-light text-lg gap-2">
                <input
                  type="radio"
                  name="am/pm_water"
                  class="radio checked:bg-accent1"
                  value="pm"
                />PM</label>
            </div>
          </div>

          <!-- Divider -->
          <div
            class="w-[95%] mx-auto h-[1px] bg-accent1 mt-5"
          ></div>

          <!-- Select Day -->
          <div
            class="form-control flex w-full flex-row gap-2 flex-wrap justify-center mt-5"
          >
            <label class="label cursor-pointer">
              <input
                name="days_checked"
                type="checkbox"
                class="checkbox border-accent1 rounded-md"
                value="sun"
              />
              <span class="label-text text-accent1 ml-2">Su</span>
            </label>

            <label class="label cursor-pointer">
              <input
                name="days_checked"
                type="checkbox"
                class="checkbox border-accent1 rounded-md"
                value="mon"
              />
              <span class="label-text text-accent1 ml-2">M</span>
            </label>

            <label class="label cursor-pointer">
              <input
                name="days_checked"
                type="checkbox"
                class="checkbox border-accent1 rounded-md"
                value="tue"
              />
              <span class="label-text text-accent1 ml-2">Tu</span>
            </label>

            <label class="label cursor-pointer">
              <input
                name="days_checked"
                type="checkbox"
                class="checkbox border-accent1 rounded-md"
                value="wed"
              />
              <span class="label-text text-accent1 ml-2">We</span>
            </label>

            <label class="label cursor-pointer">
              <input
                name="days_checked"
                type="checkbox"
                class="checkbox border-accent1 rounded-md"
                value="thu"
              />
              <span class="label-text text-accent1 ml-2">Th</span>
            </label>

            <label class="label cursor-pointer">
              <input
                name="days_checked"
                type="checkbox"
                class="checkbox border-accent1 rounded-md"
                value="fri"
              />
              <span class="label-text text-accent1 ml-2">Fri</span>
            </label>

            <label class="label cursor-pointer">
              <input
                name="days_checked"
                type="checkbox"
                class="checkbox border-accent1 rounded-md"
                value="sat"
              />
              <span class="label-text text-accent1 ml-2">Sa</span>
            </label>
          </div>
          <!-- End Select Day -->
        </div>
      </div>
      <!-- End Set Schedule -->
    </div>
    <!-- End Water Schedule -->

        <!-- Pesticide Schedule -->
        <div class="flex flex-1 flex-col px-3">
          <!-- Heading -->
          <div class="flex justify-between items-center mt-9">
            <h2
              class="text-accent1 text-xl tracking-wide font-normal pc:ml-3"
              style="width: 100px"
            >
              PESTICIDE
            </h2>

            <div class="flex flex-grow justify-start ml-3 gap-3">
                <!--Schedule Button -->
              <button
                id="set_pesticide_schedule"
                class="border p-1 px-3 text-sm tracking-widest text-accent1 rounded-full border-solid border-1 border-accent1 transition ease-in-out duration-500 bg-accent1 text-background font-bold"
                style="width: 100px"
              >
                SET
              </button>
                <!-- Reset Button -->
              <button
                id="pesc_reset" class="border p-1 px-3 text-sm tracking-widest text-background rounded-full border-solid border-1 border-red transition ease-in-out duration-500 bg-red font-bold"
                style="width: 100px"
              >
                RESET
              </button>
            <button id="turn_on_pesc_sched" class="tracking-wide text-accent1 uppercase" style="margin-left: auto">Turn On Schedule</button>

            </div>
          </div>
          <!-- Heading -->

          <!-- Set Schedule -->
          <div
            class="set_schedule flex justify-center flex-col flex-1 flex-grow gap-4 items-center"
          >
            <div
              class="cont flex flex-col mt-8 p-4 w-[100%] h-[190px] max-md:h-full justify-center rounded-xl"
            >
              <div
                class="w-full flex gap-5 items-center ml-3 max-sm:ml-0 max-sm:gap-2 max-sm:flex-col max-pc:justify-center"
              >
                <div class="flex gap-5 items-center">
                  <input
                    id="hrs_input_pesticide"
                    type="text"
                    inputmode="numeric"
                    placeholder="00"
                    maxlength="2"
                    class="p-2 w-[70px] text-accent2 text-center tracking-wider text-lg bg-transparent border border-accent1 rounded-lg"
                  />
                  <p class="text-accent1 text-xl font-extrabold">:</p>
                  <input
                    id="mins_input_pesticide"
                    title="Minutes"
                    type="text"
                    inputmode="numeric"
                    placeholder="00"
                    maxlength="2"
                    class="p-2 w-[70px] text-accent2 text-center tracking-wider text-lg bg-transparent border border-accent1 rounded-lg"
                  />
                </div>
                <div
                  class="flex gap-5 max-sm:justify-center max-sm:mt-2">
                  <label
                    for="am"
                    class="flex items-center text-accent1 font-light text-lg gap-2">
                    <input
                      type="radio"
                      name="am_pm_pesc"
                      value="am"
                      class="radio checked:bg-accent1"
                    />AM</label>

                  <label
                    for="pm"
                    class="flex items-center text-accent1 font-light text-lg gap-2">
                    <input
                      type="radio"
                      name="am_pm_pesc"
                      value="pm"
                      class="radio checked:bg-accent1"
                    />PM</label>
                </div>
              </div>

              <!-- Divider -->
              <div
                class="w-[95%] mx-auto h-[1px] bg-accent1 mt-5"
              ></div>

              <!-- Select Day -->
              <div
                class="form-control flex w-full flex-row gap-2 flex-wrap justify-center mt-5"
              >
                <label class="label cursor-pointer">
                  <input
                    name="days_checked_pesc"
                    type="checkbox"
                    class="checkbox border-accent1 rounded-md"
                    value="sun"
                  />
                  <span class="label-text text-accent1 ml-2">Su</span>
                </label>

                <label class="label cursor-pointer">
                  <input
                          name="days_checked_pesc"
                    type="checkbox"
                    class="checkbox border-accent1 rounded-md"
                          value="mon"
                  />
                  <span class="label-text text-accent1 ml-2">M</span>
                </label>

                <label class="label cursor-pointer">
                  <input
                          name="days_checked_pesc"
                    type="checkbox"
                    class="checkbox border-accent1 rounded-md"
                          value="tue"
                  />
                  <span class="label-text text-accent1 ml-2">Tu</span>
                </label>

                <label class="label cursor-pointer">
                  <input
                          name="days_checked_pesc"
                    type="checkbox"
                    class="checkbox border-accent1 rounded-md"
                          value="wed"
                  />
                  <span class="label-text text-accent1 ml-2">We</span>
                </label>

                <label class="label cursor-pointer">
                  <input
                          name="days_checked_pesc"
                    type="checkbox"
                    class="checkbox border-accent1 rounded-md"
                            value="thu"
                  />
                  <span class="label-text text-accent1 ml-2">Th</span>
                </label>

                <label class="label cursor-pointer">
                  <input
                          name="days_checked_pesc"
                    type="checkbox"
                    class="checkbox border-accent1 rounded-md"
                          value="fri"
                  />
                  <span class="label-text text-accent1 ml-2">Fri</span>
                </label>

                <label class="label cursor-pointer">
                  <input
                          name="days_checked_pesc"
                    type="checkbox"
                    class="checkbox border-accent1 rounded-md"
                            value="sat"
                  />
                  <span class="label-text text-accent1 ml-2">Sa</span>
                </label>
              </div>
              <!-- End Select Day -->
            </div>
          </div>
          <!-- End Set Schedule -->
        </div>
        <!-- End Pesticide Schedule -->
    <!-- End Save Changes Button -->
</div>
<!-- End Water & Pesticide Schedule -->