/* CUSTOM CSS */

:root {
    --background: #ffffff;
    --secondary: #e6e8d7;
    --accent1: #5a6b47 ;
    --accent2: #32281b;
}

/* ----------------------------------- */
/* preloader */
/* ----------------------------------- */

.preloader {
    transition: .30s ease-out !important;
}

.preloader img {
    animation: loading 2s linear infinite !important;
}

.preloader--hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: .30s ease-out !important;
}


.preloader .container {
    display: inline-block !important;
}

.preloader  .container p {
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    animation: typing 3s steps(35) infinite, cursor .4s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 110%;
    }
}


@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes loading {
    from {transform: rotate(1turn);}
    to{transform: rotate(0turn);}
}

/* ----------------------------------- */
/* index | sign-in */
/* ----------------------------------- */

/* SECTION */
.sign-in input {
    font-size: 14px !important;
    padding-left: 36px;
}

/* ----------------------------------- */
/* sign-up */
/* ----------------------------------- */

/* SECTION */
.sign-up input {
    font-size: 14px !important;
    padding-left: 36px;
}

/* OTP */
#otp_container input {
    padding: 0;
    cursor: not-allowed;
    pointer-events: none;
}

#otp_container input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}

#resend-btn:disabled {
    cursor: not-allowed !important;
    color: #a6adc0 !important;
    text-decoration: none;
}

/* ----------------------------------- */
/*  navbar */
/* ----------------------------------- */

.nav {
    box-shadow: -5px 0 32px 11px rgba(0, 0, 0, 0.1) !important;
}

.nav li {
    margin-top: 20px !important;
    display: flex !important;
    align-items: center !important;
    cursor: pointer !important;
    transition: ease-in-out .3s !important;
    width: 100% !important;
}

.nav li:hover {
    transition: ease-in-out .3s !important;
    color: var(--accent1) !important;
}


.nav li a {
    font-size: 14px !important;
    letter-spacing: 3px !important;
}

.nav .log-out:hover {
    color: #b91c1c !important;
}

/* ----------------------------------- */
/*  dashboard */
/* ----------------------------------- */

/* SECTION */
.temp {
    text-shadow: 6px 5px 4px rgba(148, 147, 147, 0.5);
}

.weather-section {
    background-color: var(--secondary) !important;
}

.cloudy_animation {
    visibility: hidden ;
}

.sunny_animation {
    visibility: hidden ;
}

.rainy_animation {
    background-image: url(../images/rainy-animation.png) !important;
    visibility: hidden ;
}

.stormy_animation {
    background-image: url(../images/rainy-animation.png) !important;
    visibility: hidden;
}

.water_level {
    width: 50% !important;

    --mask:
    radial-gradient(24.60px at calc(100% - 33.00px) 50%,#000 99%,#0000 101%) 0 calc(50% - 22px)/100% 44px,
    radial-gradient(24.60px at calc(100% + 22.00px) 50%,#0000 99%,#000 101%) calc(100% - 11px) 50%/100% 44px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    background-color: #38b6ff !important;
}

.pesticide_level{
    width: 80% !important;

    --mask:
    radial-gradient(24.60px at calc(100% - 33.00px) 50%,#000 99%,#0000 101%) 0 calc(50% - 22px)/100% 44px,
    radial-gradient(24.60px at calc(100% + 22.00px) 50%,#0000 99%,#000 101%) calc(100% - 11px) 50%/100% 44px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    background-color: var(--secondary) !important;
}

.water, .pesticide {
    /* display: none !important; */
}

.empty_message {
    display: none !important;
}

.temp_future .temp {
    border-radius: 20px;
    padding: 15px !important;
    background: rgba(255, 255, 255, 0.28) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(9.3px) !important;
    -webkit-backdrop-filter: blur(9.3px) !important;
}

.temp_future .temp h2 {
    font-size: 18px !important;
    color: var(--accent1) !important;
    text-shadow: none !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
}

.temp_future .temp p {
    font-size: 25px !important;
    color: var(--accent1) !important;
    text-shadow: none !important;
}

@media (min-width: 1824px) {
    .temp_future .temp p {
        font-size: 50px !important;
    }
}

.profile_drp {
    background: url(../images/default-profile.png) no-repeat center center !important;
    background-size: cover !important;
}

.prfl_lgt ul li a:focus  {
    background-color: var(--secondary) !important;
    color: var(--accent1) !important;
}

.p_f:active  {
    background-color: var(--secondary) !important;
    color: var(--accent1) !important;
}

.p_f:hover {
    color: var(--accent1) !important;
}

.l_g:focus  {
    color: #b91c1c !important;
}

.l_g:hover  {
    color: #b91c1c !important;
}

.notification_btn{
    padding: 0;
}

.notification_btn:active{
    background-color: transparent !important;
}

.notification_btn:hover{
    background-color: transparent !important;
}

.notif li h1 {
    cursor: auto !important;
 }

 .notif li h1 {
    cursor: auto !important;
 }

.notif li h1:active {
   background-color: transparent !important;
   color: var(--accent1) !important;
   pointer-events: none !important;
}

.notif li .see_all:active {
    background-color: transparent !important;
    color: var(--accent1) !important;
    pointer-events: none !important;
 }

.notif li h2 {
    cursor: auto !important;

 }


.notif li h2:active {
   background-color: var(--secondary) !important;
   color: white !important;
   pointer-events: none !important;
}


.notif li p {
    cursor: auto !important;
 }


.notif li p:active {
    background-color: transparent !important;
    color: var(--accent2) !important;
 }

 .notif li p:hover {
    background-color: transparent !important;
 }

 .notif li button:focus {
    background-color: transparent !important;
    color: var(--accent1) !important;
 }

 .notif .n_div {
    cursor: auto !important;
 }
 .notif .n_div:hover {
    background-color: transparent !important;
 }

 .notif .n_div:focus {
    background-color: transparent !important;
 }

.notif::-webkit-scrollbar {
    display: none !important;
}

/* ----------------------------------- */
/*  profile */
/* ----------------------------------- */

/* SECTION */

.side li {
    transition: ease-in-out .3s;

}

.side li button {
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
    height: 100% !important;
    width: 100% !important;
}

@media (max-width: 450px) {
    .side li button {
        padding: 10px 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: lighter;
        height: 100% !important;
        width: 100% !important;
    }

}

.side li:hover {
    background: rgba(255, 255, 255, 0.28) !important;
    border-radius: 5px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(9.3pxs) !important;
    -webkit-backdrop-filter: blur(9.3px) !important;
    transition: ease-in-out .3s !important;
    color: var(--accent1) !important;
}

.active {
    background: rgba(255, 255, 255, 0.28) !important;
    border-radius: 5px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(9.3px) !important;
    -webkit-backdrop-filter: blur(9.3px) !important;
    transition: ease-in-out .3s !important;
    color: var(--accent1) !important;
}

.overview, .edit, .password {
    background: rgba(255, 255, 255, 0.28) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(9.3px) !important;
    -webkit-backdrop-filter: blur(9.3px) !important;
}

.overview {
    /* display: none; */
    background: url(../images/background-image-2.png) no-repeat bottom right fixed !important;
}

@media (max-width: 1527px) {
    .overview {
        background: none !important;
    }
}

.edit {
    display: none;
}

.password {
    display: none;
}

.cover {
    background: url(..) no-repeat center center  !important;
    background-size: cover !important;
    background-color: var(--secondary) !important;
}

.profile {
    background: url(../images/default-profile.png) no-repeat center center  !important;
    background-size: cover !important;
    background-color: var(--secondary) !important;
}

/* ----------------------------------- */
/*  greenery */
/* ----------------------------------- */

/* SECTION */
.plant_profile .profile{
    background: url(../images/plant-profile.png) no-repeat center center !important;
    background-size: cover !important;
}


.range {
    appearance: none !important;
}

.range::-webkit-slider-thumb {
    background: var(--secondary);
}

.range::-webkit-slider-runnable-track {
    background: var(--background) !important;
}


.set_schedule .cont input:focus {
    outline: none !important;
}

.set_schedule .cont input {
    outline: none !important;
    border: 1px solid var(--accent1) !important;
}

.set_schedule .cont {
    background: rgba(255, 255, 255, 0.28) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(9.3px) !important;
    -webkit-backdrop-filter: blur(9.3px) !important;
}

.modal-action .save {
    outline: none !important;
    border: 1px solid var(--accent1) !important;
}

.modal-action .cancel {
    outline: none !important;
    border: 1px solid #b91c1c !important;
}

.modal-action .cancel:hover {
    outline: none !important;
    border: 1px solid #b91c1c !important;
}

.modal-action ul {
    background-color: var(--accent1) !important;
}

.autocomplete-wrapper {
    display: inline-block !important;
}

.autocomplete-list {
    background-color: var(--background) !important;
    list-style: none !important;
    position: absolute !important;
    width: 100%;
    padding: 10px !important;
    border: 1px solid var(--secondary) !important;
    border-radius: 10px !important;
    margin-top: 10px !important;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.autocomplete-list li {
    padding: 5px !important;
    width: 100% !important ;
    border-bottom: 1px solid var(--secondary) !important;
}

.autocomplete-list li:hover {
    background-color: var(--secondary) !important;
    /* border-radius: 5px !important; */
    border-bottom: 1px solid transparent !important;
}

.autocomplete-list button {
    width: 100% !important;
    text-align: left !important;
    color: var(--accent1) !important;
}

.pref_active {
    background-color: var(--secondary) !important;
}
