{% extends 'base.html' %}
{% load static %}

{% block title %} Greenery | SustainAsoil {% endblock %}

{% block greenery %}
      <li
        class="bg-secondary text-accent1 p-3 rounded-lg text-center max-xl:flex max-xl:justify-center"
      >
{% endblock %}


{% block content %}
    <!-- Main -->
    <main
      class="flex flex-grow flex-col items-center max-[450px]:mt-10 z-30 max-xl:ml-[80px] ml-[285px] max-[450px]:ml-0 max-[450px]:z-40"
    >
      <!-- Header -->
      <header
        class="bg-secondary px-2 items-center flex justify-between z-50 max-[450px]:w-full max-[450px]:hidden max-[450px]:mb-2 max-[450px]:rounded-none max-[450px]:bg-transparent mt-[2%] w-[90%] p-1 rounded-full mb-7 max-sm:flex max-sm:justify-center"
      >
        <h1
          class="max-[450px]:text-lg max-[450px]:font-bold max-[450px]:tracking-[1px] text-accent1 font-light tracking-[3px] text-md bg-background inline-block p-3 px-5 rounded-full max-sm:w-full max-sm:text-center"
        >
          GREENERY
        </h1>

          <!-- Include Notification -->
          {% include 'web_notification.html' %}
      </header>

      <!-- Greenery Section -->
      <section class="greenery-section flex w-[90%] h-full mb-[2%]">
        <!-- Greenery Container -->
        <div class="greneery w-full h-full flex max-sm:justify-center">
          <!-- Add Greenery Button -->
          <button
            onclick="my_modal_5.showModal()"
            class="group  hover:bg-secondary cursor-pointer hover:shadow-2xl transition ease-in-out duration-500 flex items-center justify-center border border-secondary h-[280px] w-[280px] rounded-3xl max-sm:w-full"
          >
            <div class="flex flex-col items-center">
              <p
                class="tracking-[3px] text-accent1 font-extralight group-hover:hidden"
              >
                ADD GREENERY
              </p>
              <svg
                width="130"
                height="130"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 text-accent1 opacity-0 absolute group-hover:static group-hover:opacity-100 group-hover:transition-opacity group-hover:duration-500"
              >
                <path
                  d="M21 3v2c0 9.627-5.373 14-12 14H5.243A17.056 17.056 0 0 0 5 22H3c0-1.363.116-2.6.346-3.732C3.116 16.974 3 15.218 3 13 3 7.477 7.477 3 13 3c2 0 4 1 8 0Zm-8 2a8 8 0 0 0-8 8c0 .362.003.711.01 1.046 1.254-1.978 3.091-3.541 5.494-4.914l.992 1.736C8.641 12.5 6.747 14.354 5.776 17H9c6.015 0 9.871-3.973 9.997-11.612-1.372.133-2.647.048-4.22-.188C13.627 5.027 13.401 5 13 5Z"
                ></path>
              </svg>
            </div>
          </button>
          <!-- End Add Greenery Button -->

          <!-- Added Greenery Button -->
          <button
            class="group hidden bg-secondary cursor-pointer hover:shadow-2xl transition ease-in-out duration-500 flex items-center justify-center border border-secondary h-[280px] w-[280px] rounded-3xl max-sm:w-full"
          >
            <div class="flex flex-col items-center">
              <svg
                width="130"
                height="130"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 text-accent1"
              >
                <path
                  d="M21 3v2c0 9.627-5.373 14-12 14H5.243A17.056 17.056 0 0 0 5 22H3c0-1.363.116-2.6.346-3.732C3.116 16.974 3 15.218 3 13 3 7.477 7.477 3 13 3c2 0 4 1 8 0Zm-8 2a8 8 0 0 0-8 8c0 .362.003.711.01 1.046 1.254-1.978 3.091-3.541 5.494-4.914l.992 1.736C8.641 12.5 6.747 14.354 5.776 17H9c6.015 0 9.871-3.973 9.997-11.612-1.372.133-2.647.048-4.22-.188C13.627 5.027 13.401 5 13 5Z"
                ></path>
              </svg>

              <!-- DISPLAY PACKAGE NAME -->
              <h2 class="tracking-[3px] text-accent1 text-md font-bold mt-5">
                PACKAGE NAME
              </h2>
              <!-- END PACKAGE NAME -->

              <!-- DISPLAY PACKAGE NAME -->
              <p
                class="tracking-[3px] text-accent1 text-sm font-extralight mt-1"
              >
                12/28/2023
              </p>
              <!-- END PACKAGE NAME -->
            </div>
          </button>
          <!-- End Added Greenery Button -->
        </div>
        <!-- End Greenery Container -->

        <!-- Enable Location Modal -->
        <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
          <div class="modal-box bg-background shadow-sm">
            <h3
              class="font-normal text-2xl tracking-wider text-accent2 flex items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-9 h-9 text-accent2 mr-2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
                />
              </svg>
              ENABLE LOCATION
            </h3>

            <p class="w-[350px] mx-auto text-center my-10 tracking-wide">
              Unlock personalized experiences! Let us know your location for the
              best <span class="text-accent1">Greenery Services</span>.
            </p>
            <div class="modal-action flex justify-center">
              <form method="dialog " class="flex gap-4">
                <!-- Close Button -->
                <button
                  class="save btn border p-1 w-[120px] text-sm tracking-widest text-background rounded-full border-accent1 transition ease-in-out duration-500 hover:bg-transparent bg-accent1 hover:text-accent1 font-bold"
                >
                  ENABLE
                </button>

                <button
                  class="cancel btn border p-1 w-[120px] text-sm tracking-widest text-background rounded-full border-solid transition ease-in-out duration-500 hover:bg-transparent bg-red hover:text-red font-bold"
                >
                  NOT NOW
                </button>
              </form>
            </div>
          </div>
        </dialog>
        <!-- End Enable Location Modal -->

        <!-- Register Greenery Modal -->
        <dialog id="my_modal_6" class="modal modal-bottom sm:modal-middle">
          <div class="modal-box bg-background shadow-sm h-[500px]">
            <h3
              class="font-normal text-2xl tracking-wider text-accent1 flex items-center"
            >
              <svg
                width="30"
                height="30"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="flex-shrink-0 text-accent1 mr-2"
              >
                <path
                  d="M21 3v2c0 9.627-5.373 14-12 14H5.243A17.056 17.056 0 0 0 5 22H3c0-1.363.116-2.6.346-3.732C3.116 16.974 3 15.218 3 13 3 7.477 7.477 3 13 3c2 0 4 1 8 0Zm-8 2a8 8 0 0 0-8 8c0 .362.003.711.01 1.046 1.254-1.978 3.091-3.541 5.494-4.914l.992 1.736C8.641 12.5 6.747 14.354 5.776 17H9c6.015 0 9.871-3.973 9.997-11.612-1.372.133-2.647.048-4.22-.188C13.627 5.027 13.401 5 13 5Z"
                ></path>
              </svg>
              REGISTER GREENERY
            </h3>

            <div class="mt-8">
              <form action="" autocomplete="off">
                <div
                  class="w-[100%] flex items-center mt-5 mb-5 relative focus-within:text-accent1 tracking-wider"
                >
                  <!-- INPUT GREENERY ID -->
                  <input
                    type="text"
                    placeholder="GREENERY ID"
                    required
                    class="input text-accent1 input-bordered input-md placeholder:font-extralight w-full bg-transparent border-secondary pl-40 rounded-lg placeholder:tracking-widest"
                  />
                </div>

                <!-- Divider -->
                <div class="w-[100%] h-[1px] bg-secondary mt-5 mx-auto"></div>

                <div
                  class="w-[100%] flex items-center mt-8 mb-5 relative focus-within:text-accent1 tracking-wider"
                >
                  <!-- INPUT PACKAGE NAME -->
                  <input
                    type="text"
                    placeholder="PACKAGE NAME"
                    required
                    class="input text-accent1 input-bordered input-md placeholder:font-extralight w-full bg-transparent border-secondary pl-40 rounded-lg placeholder:tracking-widest"
                  />
                </div>

                <div
                  id="autocomplete-wrapper"
                  class="autocomplete-wrapper w-[100%] flex flex-col items-center mt-2 mb-5 relative focus-within:text-accent1 tracking-wider"
                >
                  <!-- INPUT LOCATION -->
                  <input
                    id="autocomplete-input"
                    type="text"
                    placeholder="LOCATION"
                    required
                    class="input text-accent1 input-bordered input-md placeholder:font-extralight w-full bg-transparent border-secondary pl-40 rounded-lg placeholder:tracking-widest"
                  />

                  <!-- <ul class="autocomplete-list">
                    <li><button type="button">Tayud Liloan Cebu</button></li>
                    <li><button type="button">Consolacion Cebu</button></li>
                  </ul> -->
                </div>
              </form>
            </div>
            <div class="modal-action">
              <form method="dialog " class="flex gap-4">
                <!-- Close Button -->
                <button
                  class="save btn border p-1 w-[120px] text-sm tracking-widest text-background rounded-full border-accent1 transition ease-in-out duration-500 hover:bg-transparent bg-accent1 hover:text-accent1 font-bold"
                >
                  REGISTER
                </button>

                <button
                  class="cancel btn border p-1 w-[120px] text-sm tracking-widest text-background rounded-full border-solid transition ease-in-out duration-500 hover:bg-transparent bg-red hover:text-red font-bold"
                >
                  CANCEL
                </button>
              </form>
            </div>
          </div>
        </dialog>
        <!-- End Register Greenery Modal -->

      </section>
      <!-- End Greenery Section -->
    </main>
    <!-- End Main -->

    <!-- Include JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
      const inputEl = document.querySelector("#autocomplete-input");

      inputEl.addEventListener("input", onInputChange);

      getCountryData();
      let countryNames = [];

      async function getCountryData() {
        const countryRes = await fetch("https://restcountries.com/v3.1/all");
        const data = await countryRes.json();

        countryNames = data.map((country) => {
          return country.name.common;
        });
      }

      // Compare Input Value to Country Names
      function onInputChange() {
        removeAutocompleteDropdown();

        const value = inputEl.value.toLowerCase();

        if (value.length === 0) return;
        if (value === 0) return;

        const filteredNames = [];

        countryNames.forEach((countryName) => {
          if (countryName.substr(0, value.length).toLowerCase() === value)
            filteredNames.push(countryName);
        });

        createAutocompleteDropdown(filteredNames);
      }

      // Create Dropdown
      function createAutocompleteDropdown(list) {
        const listEl = document.createElement("ul");
        listEl.className = "autocomplete-list";
        listEl.id = "autocomplete-list";

        listEl.style.maxHeight = "150px";
        listEl.style.overflow = "auto";

        list.forEach((country) => {
          const listItem = document.createElement("li");
          const countrButton = document.createElement("button");
          countrButton.innerHTML = country;
          countrButton.addEventListener("click", onCountryButtonClick);
          listItem.appendChild(countrButton);

          listEl.appendChild(listItem);
        });
        document.querySelector("#autocomplete-wrapper").appendChild(listEl);
      }

      // Remove Dropdown
      function removeAutocompleteDropdown() {
        const listEl = document.querySelector("#autocomplete-list");

        if (listEl) listEl.remove();
      }

      // Get Selected Location
      function onCountryButtonClick(e) {
        e.preventDefault();
        const buttonEl = e.target;
        inputEl.value = buttonEl.innerHTML;

        removeAutocompleteDropdown();
      }
    </script>
{% endblock %}