{% extends 'base.html' %}

{% load static %}

{% block title %} Forums | SustainAsoil {% endblock %}

{% block forum  %}
    <a class="drpBTN w-full tracking-normal focus:bg-secondary bg-secondary text-accent1 hover:text-accent1 hover:bg-secondary text-accent1"
    >FORUMS</a>
{% endblock %}

{% block content %}
    <!-- Main -->
    <main id="pageContent"
          class="flex flex-grow flex-col items-center max-[450px]:mt-5 max-[450px]:mb-2 z-40 max-xl:ml-[80px] ml-[285px] max-[450px]:ml-0 max-[450px]:z-40"
    >
        <!-- Header -->
        <header
                class="bg-secondary px-2 items-center flex justify-between z-50 max-[450px]:w-full max-[450px]:hidden max-[450px]:mb-2 max-[450px]:rounded-none max-[450px]:bg-transparent mt-[2%] w-[90%] p-1 rounded-full mb-7 max-sm:flex max-sm:justify-center"
        >

            <h1
                    class="max-[450px]:text-lg max-[450px]:font-bold max-[450px]:tracking-[1px] text-accent1 font-light tracking-[3px] text-md bg-background inline-block p-3 px-5 rounded-full max-sm:w-full max-sm:text-center"
            >
                FORUMS
            </h1>

            <!-- Include Notification -->
            {% include 'web_notification.html' %}
        </header>
        <!-- End Header -->

        <!-- Heading Section -->
        <section class="forums-container w-[90%] gap-1 flex z-40 justify-between max-xl:h-auto max-xl:flex-col">

            <!-- Create Post Section -->
            <div class="create flex flex-col">
                <h2 class="text-accent1 text-2xl px-5 font-bold tracking-widest font-extralight rounded-full mt-2 inline-block">HELLO THERE,</h2>
                <!-- DISPLAY NAME -->
                <h2 class="text-accent1 text-3xl px-5 font-bold tracking-widest mb-3 rounded-full inline-block">GIANNI DYLAN</h2>
                <!-- END DISPLAY NAME -->
                <!-- <p class="text-sm inline-block px-5 mb-4 text-accent2">You can start sharing and connecting with your fellow plantits.</p> -->

                <!-- Profile Picture & Create Post -->
                <div class="cont flex gap-2 w-full align-center justify-center">
                    <!-- DISPLAY PROFILE PICTURE -->
                    <div class="profile"></div>
                    <!-- END DISPLAY PROFILE PICTURE -->

                    <div class="w-[85%] flex flex-col">
                        <textarea class="textarea w-full tracking-wide text-md mt-4" maxlength="442" placeholder="What's on your mind..."></textarea>

                        <!-- Preview Added Image -->
                        <div class="prev_image relative">
                            <!-- Close Button -->
                            <button class="close_image">X</button>
                            <!-- End Close Button -->
                        </div>
                        <!-- End Preview Added Image -->

                        <div class="btn-cont w-[85%] flex justify-between items-center ">
                            <!-- Add Photo -->
                            <input type="file" id="file" class="hidden">
                            <label for="file" id="upload_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-accent2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                                </svg>
                            </label>
                            <!-- End Add Photo -->

                            <!-- Post Button -->
                            <button class="inline-block bg-accent1 p-2 px-5 rounded-full text-background tracking-widest font-normal">POST </button>
                            <!-- End Post Button -->
                        </div>
                    </div>
                </div>
                <!-- End Profile Picture & Create Post -->
            </div>
            <!-- End Create Post Section -->

            <!-- Post Section -->
            <div class="post flex w-full h-full justify-end">
                <div class="cont">

                    <!-- Post Card -->
                    <div class="post-card mb-5" style="margin-bottom: 30px">
                        <!-- Post Title -->
                        <div class="post-title flex items-center gap-3">
                            <!-- DISPLAY DIFFERENT USERS PROFILE -->
                            <div class="users-profile"></div>
                            <!-- END DISPLAY DIFFERENT USERS PROFILE -->

                            <!-- DISPLAY USERS DETAILS -->
                            <div class="users-details flex w-full items-center gap-2" style="width: 90%">
                                <!-- DISPLAY USERS NAME -->
                                <h2 class="font-normal text-accent2 text-lg uppercase tracking-wide">Jim Laroco</h2>
                                <!-- END DISPLAY USERS NAME -->

                                <div class="user-date-cont flex justify-between flex-1 w-full">
                                    <!-- DISPLAY USERS EMAIL -->
                                    <h3>jimlaroco@gmail.com</h3>
                                    <!-- END DISPLAY USERS EMAIL -->

                                    <!-- DISPLAY POST DATE -->
                                    <p>1/10/2024</p>
                                    <!-- END DISPLAY POST DATE -->
                                </div>
                            </div>
                            <!-- END DISPLAY USERS DETAILS -->
                        </div>
                        <!-- End Post Title -->

                        <!-- Post Content -->
                        <div class="users-post mt-5">
                            <!-- DISPLAY POST TEXT -->
                            <div class="post-text">
                                <p class="truncate-text" id="post-text">Lorem ipsum dolor sit amet, eu fugiat nulla pariatur officia deserunt mollit. fugiat nulla pariatur officia deserunt. fugiat nulla pariatur officia deserunt. fugiat nulla pariatur officia deserunt. anim id est laborum. fugiat nulla pariatur officia deserunt. anim id est laborum. fugiat nulla pariatur officia deserunt. anim id est laborum. fugiat nulla pariatur officia deserunt. anim id est laborum.</p>
                                <span class="see-more" onclick="SeeMore()">See More</span>
                            </div>
                            <!-- END DISPLAY POST TEXT -->

                            <!-- DISPLAY POST IMAGE -->
                            <div class="post-image mt-2"></div>
                            <!-- END DISPLAY POST IMAGE -->

                            <!-- Post Actions -->
                            <div class="post-action mt-5 flex gap-2 justify-between w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 mt-3">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                </svg>

                                <div class="p-0 w-full">
                                    <textarea class="textarea tracking-wide text-md p-0" id="comment" maxlength="442" placeholder="Write a comment..."></textarea>
                                </div>
                            </div>
                            <!-- End Post Actions -->

                            <!-- Comment Actions -->
                            <div class="comment-action flex justify-between items-center cursor-pointer">
                                <a href="{% url 'view_comments' %}" class="view-all-comments text-accent1 tracking-widest" style="font-size: 12px">VIEW ALL COMMENTS</a>
                                <button class="rounded-full p-2 px-5 bg-accent2 text-background tracking-wide">COMMENT</button>
                            </div>
                            <!-- End Comment Actions -->

                            <!-- DISPLAY COMMENT -->
                            <div class="comment-display mt-5">
                                <!-- Comment Card -->
                                <div class="comment-card">
                                    <!-- DISPLAY COMMENTS -->
                                    <div class="flex gap-2">
                                        <!-- DISPLAY USERS PROFILE -->
                                        <div class="users-profile"></div>
                                        <!-- END DISPLAY USERS PROFILE -->

                                        <!-- DISPLAY NAME & COMMENT -->
                                        <div class="flex-1">
                                            <div>
                                                <!-- DISPLAY NAME -->
                                                <p class="text-accent1">Gianni Dylan Cabahug</p>
                                                <!-- END DISPLAY NAME -->

                                                <!-- DISPLAY DATE OF COMMENT -->
                                                <p class="text-sm" style="font-size: 12px">01/11/2024</p>
                                                <!-- END DISPLAY DATE OF COMMENT -->
                                            </div>

                                            <div style="">
                                                <!-- DISPLAY COMMENT -->
                                                <div>
                                                    <p class="truncate-text" id="user-comment" style="text-align: justify">Lorem ipsum dolor sit amet, consequat.Lorem ipsum dolor sit amet, consequat.Lorem ipsum dolor sit amet, consequat.Lorem ipsum dolor sit amet, consequat.Lorem ipsum dolor sit amet, consequat.Lorem ipsum dolor sit amet, consequat.</p>
                                                    <span class="see-more-comments" onclick="SeeMoreComments()">See More</span>
                                                </div>
                                                <!-- END DISPLAY COMMENT -->
                                            </div>
                                        </div>
                                        <!-- END DISPLAY NAME & COMMENT -->
                                    </div>
                                    <!-- End DISPLAY COMMENTS -->
                                    </div>
                                <!-- End Comment Card -->
                            </div>
                            <!-- End DISPLAY COMMENT -->
                        </div>
                        <!-- End Post Content -->
                    </div>
                    <!-- End Post Card -->

                </div>
                <!-- End Post Title -->
            </div>
            <!-- End Post Section -->

        </section>
        <!-- End Heading Section -->
    </main>
    <!-- End Main -->

    <script>
        // Auto Resize Textarea
        let create_post = document.querySelector('textarea');

        create_post.addEventListener("keyup", e => {
            create_post.style.height = "10px";
            let scroll_height = e.target.scrollHeight;
            create_post.style.height = `${scroll_height}px`;
            console.log(scroll_height);
        });

        let comment_post = document.querySelector('#comment');

        // No New Line when Pressing Enter
          document.getElementById('comment').addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
              e.preventDefault();
              // You can add your own logic here if needed
            }
          });

        // Auto Resize Textarea Comment
        comment_post.addEventListener("keyup", e => {
            comment_post.style.height = "10px";
            let scroll_height = e.target.scrollHeight;
            comment_post.style.height = `${scroll_height}px`;
        });

        // Preview Image
        const image = document.querySelector(".prev_image");
        {#const image = document.querySelector(".post-image");#}
        const file = document.querySelector("#file");
        const upload_btn = document.querySelector("#upload_btn");
        const close_btn = document.querySelector(".close_image");

        file.addEventListener("change", function () {
            const chosed_file = this.files[0];

            if (chosed_file) {
                const reader = new FileReader();

                reader.addEventListener("load", function () {
                    image.style.display = "block";
                    image.style.setProperty(
                        "background-image",
                        `url('${reader.result}')`,
                        "important"
                    );
                });
                reader.readAsDataURL(chosed_file);
            }
        });

        // Remove Preview Image
        close_btn.addEventListener("click", function () {
            image.style.display = "none";
        });

        // See More
        function SeeMore() {
            const textElement = document.querySelector("#post-text");
            const seeMore = document.querySelector(".see-more");

            textElement.classList.remove("truncate-text");
            seeMore.style.display = "none";
        }

        // See More Comment
        function SeeMoreComments() {
            const textElement = document.querySelector("#user-comment");
            const seeMore = document.querySelector(".see-more-comments");

            textElement.classList.remove("truncate-text");
            seeMore.style.display = "none";
        }
    </script>
{% endblock %}