{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %} Dashboard | SustainAsoil {% endblock %}</title>
    <!-- Tab Icon -->
    <link
            rel="icon"
            type="image/x-icon"
            href="{% static 'images/logo-secondary.png' %}"
    />

    <!-- Include DaisyUi -->
    <link
            href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css"
            rel="stylesheet"
            type="text/css"
    />
    <!-- Include Tailwind -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}"/>
    <!-- Include CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body
        class="content bg-background relative overflow-x-hidden min-h-screen flex font-san max-[450px]:flex max-[450px]:flex-col"
>
<!-- Mobile Navbar -->
<div
        class="navbar min-[450px]:hidden shadow-lg sticky top-0 bg-background z-50"
>
    <div class="flex-1">
        <img
                src="{% static 'images/logo-secondary.png' %}"
                alt=""
                class="w-11 h-11 mr-2"
        />
        <h1 class="text-sm font-light tracking-[5px] text-accent1">
            SUSTAIN<span class="text-lg font-light">A</span>SOIL
        </h1>
    </div>

    <!-- Notification Icon -->
    <div class="mr-3 relative">
        <a href="{% url 'mobile_notif' %}">
            <!-- DISPLAY NUMBER OF NOTIFICATION -->
            <h1
                    class="absolute cursor-pointer font-bold text-accent1 left-6 bottom-3"
            >
                5
            </h1>
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    data-slot="icon"
                    class="w-7 h-7 text-accent1"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
                />
            </svg>
        </a>
    </div>

    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <div
                    tabindex="0"
                    role="button"
                    class="btn btn-ghost btn-circle avatar"
            >
                <div class="w-10 rounded-full">
                    <img alt="Profile" src="{% static 'images/default-profile.png' %}"/>
                </div>
            </div>
            <ul
                    tabindex="0"
                    class="menu-sm dropdown-content text-accent1 mt-3 z-[1] p-2 bg-background shadow rounded-box w-52"
            >
                <li class="active:bg-secondary rounded-lg">
                    <a href="{% url 'homepage' %}">
                        <button class="p-0 w-full h-full text-left">
                            Dashboard
                        </button>
                    </a>
                </li>
                <li class="active:bg-secondary rounded-lg">
                    <a href="{% url 'greenery' %}">
                        <button class="p-0 w-full h-full text-left">
                            Greenery
                        </button>
                    </a>
                </li>
                <li class="active:bg-secondary rounded-lg">
                    <a href="{% url 'profile' %}"
                    >
                        <button class="p-0 w-full h-full text-left">Profile</button>
                    </a
                    >
                </li>
                <li class="active:bg-secondary rounded-lg">
                    <a href="{% url 'login_page' %}"
                    >
                        <button class="p-0 w-full h-full text-left text-red">
                            Log Out
                        </button>
                    </a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Mobile Navbar -->

<!-- Web Navbar -->
<aside
        class="nav max-[450px]:hidden w-[280px] z-50 flex-shrink-0 bg-background fixed h-[100%] pt-4 flex items-center flex-col max-xl:w-[80px] max-xl:transition-all"
>
    <!-- Logo -->
    <div class="navbar mt-[4%] flex items-center justify-center">
        <img
                src="{% static 'images/logo-secondary.png' %}"
                alt="SustainAsoil logo"
                class="mr-2 max-xl:w-15 max-xl:mt-2 max-xl:mr-0 w-14"
        />
        <h1
                class="text-sm font-light tracking-[5px] text-accent2 max-xl:hidden"
        >
            SUSTAIN<span class="text-xl font-light">A</span>SOIL
        </h1>
    </div>

    <!-- Divider -->
    <div class="w-[80%] h-[1px] bg-secondary mt-5"></div>

    <!-- Navigation -->
    <div class="flex mt-2 w-[71%]">
        <ul class="w-full gap-2">

            <!-- Dashboard Link -->
            {% block dashboard %}
                <li
                        class="hover:bg-secondary p-3 rounded-lg text-center max-xl:flex max-xl:justify-center"
                >
            {% endblock %}
            <a href="{% url 'homepage' %}">
                <svg
                        width="24"
                        height="24"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="max-xl:w-[25px] max-xl:h-[25px] mr-4 max-xl:mr-0"
                >
                    <path
                            d="M13 21V11h8v10h-8ZM3 13V3h8v10H3Zm6-2V5H5v6h4ZM3 21v-6h8v6H3Zm2-2h4v-2H5v2Zm10 0h4v-6h-4v6ZM13 3h8v6h-8V3Zm2 2v2h4V5h-4Z"
                    ></path>
                </svg>
            </a>
            <!-- Dashboard Icon Link -->
            <a href="{% url 'homepage' %}" class="ml-[5px] max-xl:hidden max-xl:ml-0">DASHBOARD</a>
            </li>

            <!-- Greenery Link -->
            {% block greenery %}
                <li
                        class="hover:bg-secondary p-3 rounded-lg text-center max-xl:flex max-xl:justify-center"
                >
            {% endblock %}
            <a href="{% url 'greenery' %}">
                <svg
                        width="24"
                        height="24"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        class="max-xl:w-[25px] max-xl:h-[25px] mr-4 max-xl:mr-0"
                >
                    <path
                            d="M21 3v2c0 9.627-5.373 14-12 14H5.243A17.056 17.056 0 0 0 5 22H3c0-1.363.116-2.6.346-3.732C3.116 16.974 3 15.218 3 13 3 7.477 7.477 3 13 3c2 0 4 1 8 0Zm-8 2a8 8 0 0 0-8 8c0 .362.003.711.01 1.046 1.254-1.978 3.091-3.541 5.494-4.914l.992 1.736C8.641 12.5 6.747 14.354 5.776 17H9c6.015 0 9.871-3.973 9.997-11.612-1.372.133-2.647.048-4.22-.188C13.627 5.027 13.401 5 13 5Z"
                    ></path>
                </svg>
            </a>
            <!-- Greenery Icon Link -->
            <a href="{% url 'greenery' %}" class="ml-[5px] max-xl:hidden max-xl:ml-0"
            >GREENERY</a
            >
            </li>
        </ul>
    </div>

    <!-- Profile & Log Out -->
    <div
            class="prfl_lgt flex justify-center mt-5 h-full items-end w-[71%] z-50"
    >
        <div
                class="dropdown dropdown-top mb-[10%] w-full max-xl:mb-[40%] h-[60px]"
        >
            <div
                    tabindex="0"
                    role="button"
                    class="btn m-0 group focus:bg-secondary bg-transparent w-full p-3 flex justify-start flex-nowrap h-full rounded-xl hover:bg-secondary border-none shadow-none"
            >
                <!-- DISPLAY PROFILE PICTURE -->
                <div
                        class="w-[40px] h-[40px] max-xl:w-[35px] max-xl:h-[35px] rounded-full bg-secondary p-0 m-0"
                        style="background: url({{ user_profile_pic }}) no-repeat center center !important; background-size: cover !important;"
                ></div>

                <!-- DISPLAY NAME -->
                <p
                        class="truncate text-lg max-xl:hidden w-[110px] tracking-wide font-extralight group-focus:text-accent1 group-hover:text-accent1"
                >
                    {{ name }}
                </p>
            </div>
            <ul
                    tabindex="0"
                    class="dropdown-content z-50 mb-3 flex-nowrap items-start menu pb-5 px-3 gap-0 drop-shadow-lg border bg-background border-secondary rounded-box w-[200px]"
            >

                <!-- Profile Link -->
                {% block profile %}
                <li class="mt-0">
                    <a
                            href="{% url 'profile' %}"
                            class="w-full tracking-normal focus:bg-secondary hover:bg-secondary"
                    >MY PROFILE</a>
                </li>
                {% endblock %}

                <!-- Vist Forum Link -->
                <li class="mt-0">
                    {% block forum %}
                    <a
                            href="{% url 'forums' %}"
                            class="w-full tracking-normal focus:bg-secondary hover:bg-secondary"
                    >FORUM</a>
                    {% endblock %}
                </li>

                <!--Log Out Link -->
                <li class="mt-0">
                    <a
                            href="{% url 'logout_page' %}"
                            class="l_g w-full h-full tracking-normal focus:bg-secondary"
                    >LOG OUT</a
                    >
                </li>
            </ul>
        </div>
    </div>
</aside>
<!-- End Web Navbar -->

<!-- Content -->
{% block content %}

{% endblock %}
<!-- End Content -->
</body>
</html>
