{% load  static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification | SustainAsoil</title>
    <!-- Tab Icon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/logo-secondary.png' %}"
    />

    <!-- Include DaisyUi -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Include Tailwind -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <!-- Include CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body
    class="content bg-background relative overflow-x-hidden min-h-screen flex font-san max-[450px]:flex max-[450px]:flex-col"
  >
    <!-- Mobile Navbar -->
    <div
      class="navbar min-[450px]:hidden shadow-lg sticky top-0 bg-background z-50"
    >
      <div class="flex-1">
        <img
          src="{% static 'images/logo-secondary.png' %}"
          alt=""
          class="w-11 h-11 mr-2"
        />
        <h1 class="text-sm font-light tracking-[5px] text-accent1">
          SUSTAIN<span class="text-lg font-light">A</span>SOIL
        </h1>
      </div>

      <!-- Notification Icon -->
      <div class="mr-3 relative">
        <a>
          <!-- DISPLAY NUMBER OF NOTIFICATION -->
          <h1
            class="absolute cursor-pointer font-bold text-accent1 left-6 bottom-3"
          >
            5
          </h1>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            data-slot="icon"
            class="w-7 h-7 text-accent1 fill-accent1"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"
            />
          </svg>
        </a>
      </div>

      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle avatar"
          >
            <div class="w-10 rounded-full">
              <img alt="Profile" src="{% static 'images/default-profile.png' %}" />
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu-sm dropdown-content text-accent1 mt-3 z-[1] p-2 bg-background shadow rounded-box w-52"
          >
            <li class="active:bg-secondary rounded-lg">
              <a href="{% url 'homepage' %}"
                ><button class="p-0 w-full h-full text-left">
                  Dashboard
                </button></a
              >
            </li>
            <li class="active:bg-secondary rounded-lg">
              <a href=""
                ><button class="p-0 w-full h-full text-left">
                  Greenery
                </button></a
              >
            </li>
            <li class="active:bg-secondary rounded-lg">
              <a href="{% url 'profile' %}"
                ><button class="p-0 w-full h-full text-left">Profile</button></a
              >
            </li>
            <li class="active:bg-secondary rounded-lg">
              <a href="{% url 'login_page' %}"
                ><button class="p-0 w-full h-full text-left text-red">
                  Log Out
                </button></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Mobile Navbar -->

    <!-- Main -->
    <main class="bg-red flex flex-grow">
      <ul
        tabindex="0"
        class="notif dropdown-content z-[1] rounded-none block menu p-2 shadow-xl bg-base-100 rounded-box w-full bg-background overflow-auto border border-secondary"
      >
        <li class="sticky bg-background top-0">
          <div
            class="hover:bg-transparent see_all flex items-center justify-between"
          >
            <h1
              class="text-2xl hover:bg-transparent font-bold tracking-wider text-accent1"
            >
              NOTIFICATION
            </h1>

            <button class="tracking-wide">SEE ALL</button>
          </div>
          <div
            class="n_div mx-2 border rounded-none bg border-t-secondary border-x-0 border-b-0 h-0"
          ></div>
        </li>

        <!-- Low Moisture Level Notification -->
        <li class="p-2">
          <!-- DISPLAY HEADING NOTIF -->
          <h2
            class="uppercase tracking-widest text-accent1 font-bold mb-0 bg-secondary hover:bg-secondary"
          >
            Low Moisture Level
          </h2>

          <!-- DISPLAY DATE NOTIF -->
          <p class="tracking-wider">12/21/2023</p>

          <!-- DISPLAY DISCRIPTION -->
          <p class="text-accent2 hover:bg-transparent text-left">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi vero
            inventore quasi eum
          </p>

          <!-- IRRIGATE NOW BTN -->
          <button title="check button" class="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              data-slot="icon"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            Irrigate Now
          </button>

          <!-- DECLINE BTN -->
          <button class="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              data-slot="icon"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            Decline
          </button>
        </li>

        <!-- Weather Notification -->
        <li class="p-2">
          <!-- DISPLAY HEADING NOTIF -->
          <h2
            class="uppercase tracking-widest text-accent1 font-bold mb-1 bg-secondary hover:bg-secondary"
          >
            Stormy Day Today
          </h2>

          <!-- DISPLAY DATE OF NOTIF -->
          <p class="tracking-wider">12/21/2023</p>

          <!-- DISPLAY DESCRIPTION -->
          <p class="text-accent2 hover:bg-transparent text-left">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi vero
            inventore quasi eum
          </p>

          <!-- IRRIGATE NOW BTN -->
          <button title="check button" class="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              data-slot="icon"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            Irrigate Now
          </button>

          <!-- DECLINE BTN -->
          <button class="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              data-slot="icon"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            Decline
          </button>
        </li>

        <!-- Watered Successfully Notification -->
        <li class="p-2">
          <!-- DISPLAY HEADING NOTIF -->
          <h2
            class="uppercase tracking-widest text-accent1 font-bold mb-1 bg-secondary hover:bg-secondary"
          >
            WATERED
          </h2>

          <!-- DISPLAY DATE OF NOTIF -->
          <p class="tracking-wider">12/21/2023</p>

          <!-- DISPLAY DESCRIPTION -->
          <p class="text-accent2 hover:bg-transparent text-left">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi vero
            inventore quasi eum
          </p>
        </li>

        <!-- Applied Pesticide Successfully Notification -->
        <li class="p-2">
          <!-- DISPLAY HEADING NOTIF -->
          <h2
            class="uppercase tracking-widest text-accent2 font-bold mb-1 bg-secondary hover:bg-secondary"
          >
            APPLIED PESTICIDE
          </h2>

          <!-- DISPLAY DATE OF NOTIF -->
          <p class="tracking-wider">12/21/2023</p>

          <!-- DISPLAY DESCRIPTION -->
          <p class="text-accent2 hover:bg-transparent text-left">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi vero
            inventore quasi eum
          </p>
        </li>

        <!-- Annopuncement Notification -->
        <li class="p-2">
          <!-- DISPLAY HEADING NOTIF -->
          <h2
            class="uppercase tracking-widest text-red font-bold mb-1 bg-secondary hover:bg-secondary"
          >
            UNDER MAINTENANCE
          </h2>

          <!-- DISPLAY DATE OF NOTIF -->
          <p class="tracking-wider">12/21/2023</p>

          <!-- DISPLAY DESCRIPTION -->
          <p class="text-accent2 hover:bg-transparent text-left">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi vero
            inventore quasi eum
          </p>
        </li>
      </ul>
    </main>
    <!-- End Main -->
  </body>
</html>
