<!-- Notification Icon and Container -->
<div class="dropdown dropdown-end mr-6 z-50">
    <!-- Notification Button -->
    <div
        tabindex="0"
        role="button"
        title="Notification"
        class="btn group notification_btn m-1 btn bg-transparent border-none shadow-none"
        onclick="getNotification()">
        <!-- Display Number of Notifications -->
        <h1 class="absolute cursor-pointer font-bold text-accent1 left-8 bottom-8" id="notification_count">
        </h1>
        <!-- Notification Icon -->
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            data-slot="icon"
            class="w-8 h-8 text-accent1">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"/>
        </svg>
    </div>

    <!-- Notification Container -->
    <ul

        tabindex="0"
        class="notif dropdown-content z-[1] h-[410px] block menu p-2 shadow-xl bg-base-100 rounded-box w-96 bg-background overflow-auto border border-secondary">
        <!-- Notification Content Header -->
        <li class="">
            <div
                class="hover:bg-transparent see_all flex items-center justify-between">
                <h1
                    class="text-2xl hover:bg-transparent font-bold tracking-wider text-accent1">
                    NOTIFICATION
                </h1>
            </div>
            <div
                class="n_div mx-2 border rounded-none bg border-t-secondary border-x-0 border-b-0 h-0">
            </div>
        </li>
        <div id="notifications_container">

        </div>
    </ul>

    <!-- WebSocket Script -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function calculateTimeDifference(notificationDateString, currentDate) {
            // Parse the date string into a Date object
            const notificationDate = new Date(notificationDateString);

            const timeDifference = Math.floor((currentDate - notificationDate) / (60 * 1000));

            if (timeDifference < 60) {
                return `${timeDifference} ${timeDifference === 1 ? 'minute' : 'minutes'} ago`;
            } else if (timeDifference < 24 * 60) {
                const hours = Math.floor(timeDifference / 60);
                return `${hours} ${hours === 1 ? 'hour' : 'hours'} ago`;
            } else {
                // Format the date as MM/DD/YYYY
                const formattedDate = notificationDate.toLocaleDateString('en-US', {
                    month: '2-digit',
                    day: '2-digit',
                    year: 'numeric'
                });

                return formattedDate;
            }
        }

        const socket2 = new WebSocket("ws://" + window.location.host + "/ws/notifications/");

        socket2.onopen = function (event) {
            console.log("WebSocket connection opened:", event);
        };

        socket2.addEventListener('message', function (event) {
        const data = JSON.parse(event.data);
        const notifications = data.message;
        const datas = data.id
        const package_id = data.package_id
        const notificationIds = Object.keys(notifications);
        const notificationCount = notificationIds.length;
        const notificationCountElement = document.getElementById("notification_count");
        notificationCountElement.innerText = notificationCount;

        const notificationsContainer = document.getElementById("notifications_container");
        notificationsContainer.innerHTML = '';

        for (var items in datas) {
            if (datas.hasOwnProperty(items)) {
                const item_id = items
                const notification = datas[items];

                const notificationDate = new Date(notification.date);
                const currentDate = new Date();
                const timeDifferenceText = calculateTimeDifference(notificationDate, currentDate);


                if (notification.type === "LOW MOISTURE"){
                    const notificationElement = document.createElement("li");
                    notificationElement.className = "notification_item";
                    // Create and append elements for each notification
                    const headerElement = document.createElement("h2");
                    headerElement.className = "notification_header uppercase tracking-widest text-accent1 font-bold mb-0 bg-secondary hover:bg-secondary";
                    headerElement.innerText = notification.header;

                    // Create and append elements for each notification
                    const dateElement = document.createElement("p");
                    dateElement.className = "tracking-wider";
                    dateElement.innerText = `${timeDifferenceText}`;

                    const descriptionElement = document.createElement("p");
                    descriptionElement.className = "notification_description text-accent2 hover:bg-transparent text-left";
                    descriptionElement.innerText = notification.description;

                    const irrigateButton = document.createElement('button');
                    irrigateButton.setAttribute('data-id', item_id);
                    irrigateButton.setAttribute('data-package-id', package_id);
                    irrigateButton.title = 'Irrigate Now';
                    irrigateButton.className = 'water_now_bttn';
                    irrigateButton.innerHTML = `
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                        Water Now`;




                    // Create "Decline" button
                    const declineButton = document.createElement('button');
                    declineButton.setAttribute('data-id', item_id);
                    declineButton.setAttribute('data-package-id', package_id);
                    declineButton.className = 'decline_bttn';
                    declineButton.innerHTML = `
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                        Decline`;

                    // Append elements to the notification item
                    notificationElement.appendChild(headerElement);
                    notificationElement.appendChild(dateElement);
                    notificationElement.appendChild(descriptionElement)
                    notificationElement.appendChild(irrigateButton);
                    notificationElement.appendChild(declineButton);
                    notificationsContainer.appendChild(notificationElement);

                }
                else{
                    const notificationElement = document.createElement("li");
                    notificationElement.className = "notification_item";

                    // Create and append elements for each notification
                    const headerElement = document.createElement("h2");
                    headerElement.className = "notification_header uppercase tracking-widest text-accent1 font-bold mb-0 bg-secondary hover:bg-secondary";
                    headerElement.innerText = notification.header;

                      const dateElement = document.createElement("p");
                    dateElement.className = "tracking-wider";
                    dateElement.innerText = `${timeDifferenceText}`;

                    const descriptionElement = document.createElement("p");
                    descriptionElement.className = "notification_description text-accent2 hover:bg-transparent text-left";
                    descriptionElement.innerText = notification.description;

                    // Append elements to the notification item
                    notificationElement.appendChild(headerElement);
                    notificationElement.appendChild(dateElement);
                    notificationElement.appendChild(descriptionElement);
                    notificationsContainer.appendChild(notificationElement);
                }
            }
        }
        });

        socket2.onclose = function (event) {
            console.log("WebSocket connection closed:", event);
        };

        function getNotification() {
            socket2.send(JSON.stringify({ message: "Fetch notifications" }));
        }


        $('#notifications_container').on('click', '.water_now_bttn', function () {
            const id = $(this).data('id');
            const package_id = $(this).data('package-id');

            console.log(id, package_id);

            var result = confirm('Are you sure you want to water now?');
            if (result){
                $.ajax({
                    url: '/water_now/' + package_id + '/',
                    data: {
                        'notif_id': id
                    },
                    type: 'GET',
                    success: function (response) {
                        alert(response.message)
                    }
                });
            }
        });

        $('#notifications_container').on('click', '.decline_bttn', function () {
            const id = $(this).data('id');
            const package_id = $(this).data('package-id');

            console.log(id, package_id);

            var result = confirm('Are you sure you want to decline it ?');
            if (result){
                $.ajax({
                    url: '/cancel_now/' + package_id + '/',
                    data: {
                        'notif_id': id
                    },
                    type: 'GET',
                    success: function (response) {
                        alert(response.message)
                    }
                });
            }
        });

    </script>
</div>
