{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign In | SustainAsoil</title>
    <!-- Tab Icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo-secondary.png' %}"/>

    <!-- Include DaisyUi -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <!-- Include Tailwind -->
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Include CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body
        class="content min-h-screen flex flex-col font-sans bg-gradient-to-r from-g1 to-background"
>
<!-- Navbar -->
<div
        class="navbar sm:w-[100%] sm:pl-4 xl:w-[65%] xl:m-auto pt-4 max-xl:flex max-xl:justify-center"
>
    <img
            src="{% static 'images/logo-secondary.png' %}"
            alt="SustainAsoil logo"
            class="w-20 mr-2 max-xl:w-32"
            draggable="false"
            style="pointer-events: none; -khtml-user-select: none; -o-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none; user-drag: none;"
    />

    <h1
            class="text-base font-light tracking-[5px] max-xl:hidden text-accent2"
    >
        SUSTAIN<span class="text-2xl font-light">A</span>SOIL
    </h1>
</div>

<!-- Content - Start -->
<main class="flex flex-grow">
    <!-- Background Image -->
    <aside class="aside-container max-xl:hidden w-full max-lg:flex-shrink-0">
        <img
                src="{% static 'images/background-image.png' %}"
                alt="Plant image"
                class="object-cover h-full w-full object-right"
                draggable="false"
                style="pointer-events: none; -khtml-user-select: none; -o-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none; user-drag: none;"
        />
    </aside>

    <!-- Sign In Form -->
    <section
            class="section-container flex w-[80%] max-xl:justify-center max-xl:w-full"
    >

        <form
                id="login-form"
                action=""
                method="post"
                class="sign-in flex items-center flex-col mt-16 w-[90%]"
        >
            {% csrf_token %}
            <h1 class="font-bold text-4xl tracking-wide mb-4 text-accent1">
                SIGN IN
            </h1>

            <!-- Error Message -->
            <p class="text-red mb-4 text-sm uppercase tracking-widest w-[300px] rounded-lg flex flex-col items-center justify-center text-center"
               id="error-message">
            </p>
            <!-- End Error Message -->


            <!-- Sign In Form Container -->
            <div class="flex flex-col items-center w-full">

                <!-- Email Address -->
                <div
                        class="w-[300px] flex items-center max-xl:w-[300px] mb-6 relative focus-within:text-accent1 tracking-wider"
                >
                    <!-- Icon -->
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-5 h-5 absolute ml-3 mt-1 text-accent1"
                            id="email_icon"
                    >
                        <path
                                stroke-linecap="round"
                                d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"></path>
                    </svg>
                    <!-- Email Address Form -->
                    {{ form.acc_email }}
                </div>

            </div>

            <!-- Password Icon -->
            <div
                    class="w-[300px] flex items-center max-xl:w-[300px] mb-8  relative focus-within:text-accent1 tracking-wider"
            >
                <!-- Icon -->
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5 absolute ml-3 mt-1 text-accent1"
                        id="pass_icon"
                >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"></path>
                </svg>
                {{ form.acc_password }}
            </div>
            </div>

            <button
                    type="submit"
                    class="loginBTN border p-2 w-[300px] bg-accent1 font-bold text-sm tracking-widest text-background rounded-lg border-solid border-1 border-accent1 transition ease-in-out hover:duration-500 hover:bg-transparent hover:text-accent1 hover:font-bold"
            >
                LOG IN
            </button>
            <!-- Log In Button -->


            <!-- Redirect to Sign Up Page -->
            <div class="mt-3 flex items-center justify-between w-[300px]">
                <p class="text-xs ">
                    New User?
                    <a
                            href="{% url 'signup_page' %}"
                            class="font-bold text-accent2 hover:underline tracking-wide ml-1"
                    >SIGN UP</a
                    >
                </p>

                <a href="{% url 'forgot_password_page' %}" class="forgot_password text-xs">
                    Forgot Password?
                </a>
            </div>
        </form>
        <!-- Sign In Form - End -->

        <!-- Include preloader -->

    </section>
</main>
{% include 'preloader.html' %}
<!-- Include GSAP & Animation JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
<!-- Include jQuery from CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src={% static 'js/main.js' %}></script>
<script>
    $(document).ready(function () {
        const preloader = $('#preloader');
        const preloadertext = $('#preloader-text');

        function showLoader() {
            preloader.show();
        }

        function hideLoader() {
            preloader.hide();
        }

        hideLoader();

        function handleLoginResponse(response) {
            if (response.success) {
                preloadertext.html('Login successfully');
                // add 2-second delay time before redirecting to homepage
                setTimeout(function () {
                    window.location.href = "{% url 'homepage' %}";
                }, 2000);
                console.log("Login successful");
            } else {
                console.log("Login unsuccessful");
                // Unsuccesful login design
                $('#email_login, #pass_login').addClass('error-color');
                $('#email_icon, #pass_icon').addClass('error-icon');
                $('#error-message').html('<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-1"> <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /> </svg>' + response.errors);
                console.log(response.errors);
                hideLoader();
                // Display error messages (if available)
                if (response.errors) {
                    console.log(response.errors);
                }
            }
        }

        $('#login-form').on('submit', function (event) {
            event.preventDefault(); // Prevent default form submission

            showLoader();

            // AJAX request to handle login
            $.ajax({
                type: 'POST',
                url: '{% url "login_page" %}',
                data: $(this).serialize(), // Serialize form data
                success: function (response) {
                    preloadertext.html('Checking Credentials');
                    // add 5 second delay time for the preloader
                    setTimeout(function () {
                        handleLoginResponse(response);
                    }, 2900);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    hideLoader();
                }
            });
        });
    });


    function removeErrorDesign() {
        document.getElementById('email_login').classList.remove('error-color');
        document.getElementById('email_icon').classList.remove('error-icon');
        document.getElementById('pass_login').classList.remove('error-color');
        document.getElementById('pass_icon').classList.remove('error-icon');
        document.getElementById('error-message').innerHTML = '';

    }

</script>
</body>
</html>
